body {
    text-align: right;
    font-family: "Times New Roman", Times, serif;
}

#endDoor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:800px;
}

#fishDisplay {
    text-align: center;
    font-family: "Courier New", monospace;
    }

